/* html, body, #container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
} */

#container{
    transform: translateZ(0);
}

body{
    /* background: #dedede; */
}

.rec{
    width: 20px;
    height: 20px;
    opacity: 0.6;
    background: green;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}